__pycache__/
.idea/
.mypy_cache/
.vscode/
.ipynb*/
build/
dist/
upx*/
profile
*.log
*.tag
*.trk

*.mp4
*.ttf
*.pdf
*.docx
*.html
*.odt
*.exe
*.zip
*.rar
*.dll
*.lprof
*.npy
*.ipynb
*.png
*.pyo

.directory
.env_info
